@{
    ViewBag.Title = "Create";
}

<h2>Upload a File</h2>
@using (Html.BeginForm("Upload", "Files", FormMethod.Post, new { enctype = "multipart/form-data", role= "form"}))
{

    @Html.AntiForgeryToken() 
    <div class="form-group">
        <label for="exampleInputFile">File input</label>
        <input class="btn btn-primary btn-lg" type="file" id="fisier" name="fisier">
        @*<p class="help-block">Example block-level help text here.</p>*@
    </div>
    <button type="submit" class="btn btn-primary btn-lg">Upload</button>
    @Html.ActionLink("Back to Files", "Index")
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
