.navbar 
{
    background-color:#f5f5f5;
    border-bottom: 1px solid #333;
}

body
{
   background: url(/Images/personal/perforated.png);
}
#body {
    
    background-color:azure;
    padding: 3em;
    margin-top: 3em;
}

.header {
    font-size: 3em;
    line-height: 2em;
    color: #0074A6;
    text-align: center;
}
.header span {
    color: #A7BDBB;
}

#carousel-example-generic {
    margin-top: 2em;
}

#navigationbar
{
    line-height: 3em;
}
#logo 
{
    height: 30px;
    vertical-align: middle;
    margin-right: 10px;
}
