@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-12">

        <div id="carousel-example-generic" class="carousel slide">

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <h3 class="header">Sign up</h3>
                    <h4 class="header">
                        <img src="/Images/personal/mobilepro.png">
                    </h4>
                    
                </div>
                <div class="item">
                    <h3 class="header"><span>Upload</span> a file</h3>
                    <h4 class="header">
                        <img src="/Images/personal/signUp.png">
                    </h4>
                </div>
                <div class="item">
                    <h3 class="header"><span>Share</span> with friends</h3>
                    <h4 class="header">
                        <img src="/Images/personal/files-storage.jpg">
                    </h4>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    $('#carousel-example-generic').carousel({
        interval: 3000,
        pause: false
    })
</script>