@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-12">

        <div id="carousel-example-generic" class="carousel slide">

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <h4 class="header">Easy steps to get <span>fun</span>!</h4>
                </div>
                <div class="item">
                    <h4 class="header">Sign up</h4>
                </div>
                <div class="item">
                    <h4 class="header"><span>Upload</span> a file</h4>
                </div>
                <div class="item">
                    <h4 class="header"><span>Share</span> with friends</h4>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    $('#carousel-example-generic').carousel({
        interval: 2000,
        pause: false
    })
</script>