@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup class="title">
    <h1 class="error">Eroare.</h1>
    <h2 class="error">Exista o erare in procesarea datelor.</h2>
</hgroup>
